

body {
  font-family: "Alte Haas Grotesk";
  background-color: #e0e0e0;
  max-width: 1200px;
  margin: 0 auto;
  text-align: justify;
  font-size: 0.95em;
}

.content {
  display: flex;
}

section:target:before {
  content:"";
  display:block;
  height:120px; /* fixed header height*/
  margin:-120px 0 0; /* negative fixed header height */
}



/* bannière */
  header {
    background-image:  url("banniere_texte.svg"), url("banniere.png");
    background-repeat: no-repeat, no-repeat;
    background-size: auto 5em, 1200px auto;
    background-position: center top, center;
    height : 157px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
  }

  header h1 {
    display: none;
  }



/* menu de navigation */
  nav {
    min-width: 12em;
    line-height: 20pt;
    font-family: sans-serif;
    font-size: 1rem;
    padding:5px;
  }

  nav ul {
    list-style-type:none;
    margin : 0;
    padding : 0.5em;
    border-radius: 5px;
  }
  
  nav ul li {
    padding: 0.1em 0;
  }
    
  nav ul li img {
    height: 1.5em;
  }

  nav ul,
  nav #hamburger {
    background-color: rgba(200,200,200,0.93);
  }


/* corps de page */
  main {
    padding:10px;
  }


/* adaptation aux écrans */
/* largeur > 750px */
  @media screen and (min-width: 750px) {
    nav ul{
      position: sticky;
      top : 100px;
    }
      
    nav #hamburger {
      display: none;
    }
  }



/* largeur < 750px */
  @media screen and (max-width: 750px) {
    header {
      background-image:  url("banniere_texte_mobile.svg"), url("banniere.png");
      background-size: auto 8em, 1200px auto;
      background-position: left top, center;
    }

    .content {
      flex-wrap: wrap;
    }
    .content main {
      order: 1;
    }
    .content nav {
      order: 3;
    }
      
    nav {
      position: fixed;
      top: 10px;
      right: 10px;
      z-index: 9999; /* pour passer au dessus la carte leaflet/osm */
    }

    nav #hamburger {
      position:absolute;
      top:0px;
      right:0px;
      height: 40px;
      width: 40px;
      padding:10px;
      border-radius: 30px;
    }

    nav ul {
      display:none;
      text-align:right;
    }

    nav img:hover ~ ul,
    nav:hover img ~ ul {
      display: block;    
      margin-top:65px;
    }
  }  
      
      

/* titres, paragraphes */

  pre {
    overflow: auto;
    border: 5px;
    padding: 5px;
  }

  h1 {
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    
    line-height: 20pt;

    font-family: "Alte Haas Grotesk";
    font-size: 1.75em;
    font-weight: 800;
    color: #A55A13;
  }

  h2 {
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    
    line-height: 20pt;
    
    font-family: "Alte Haas Grotesk";
    font-size: 1.25em;
    font-weight: bold;
  }

  h3 { 
    margin-top: 1em;
    margin-bottom: 1em;

    line-height: 15pt;

    font-family: "Alte Haas Grotesk";
    font-size: 1.10em;
    font-weight: 600;
  }

  h4 { 
    margin-top: 1.33em;
    margin-bottom: 1.33em;

    line-height: 15pt;

    font-family: "Alte Haas Grotesk";
    font-size: 1em;
    font-weight: 600;
  }


  h5 { 
    margin-top: 1.67em;
    margin-bottom: 1.67em;

    font-family: "Alte Haas Grotesk";
    font-size: .83em;
    font-weight: bold;
  }

  h6 { 
    margin-top: 2.33em;
    margin-bottom: 2.33em;

    font-family: "Alte Haas Grotesk";
    font-size: .67em;
    font-weight: bold;
  }

  p {
    margin: 1em 0;
  }




/* liens*/

  a {
    text-decoration: none;
    font-family: "Alte Haas Grotesk";
    color: #870400;
    font-size: inherit;
  }

  a:hover {
    color: #a76420;
  }


/* listes */

  ul {
    list-style-type: inherit;
  }

  ul.liste_tirets {
    list-style: none;
  }

  ul.liste_tirets li:before {
    content: "-";
    padding-right: 0.5rem;
  }

  ul.liste_sans_tirets {
    list-style: none;
  }

  ul.liste_sans_tirets li:before {
    padding-right: 0.5rem;
  }

  ul.liste_espacee li{
    margin: 1em 0;
  }



/* images */
  img {
    margin: 0;
    padding: 0;
  }

  img.responsive_img {
    max-width: 100%;
    height: auto;
  }



/* flottants */

  .flottant_droite{
    float:right;
  }

  .nettoyeur {
    clear:both;
  }



/* séparateur de section */

  div.separateur {
      display: flex;
      margin : 1.4em;
  }

  div.separateur div {
      flex: 100%;
      padding-bottom: 2%;
      padding-top: 2%;
      padding-left: 15%;
      background-image: url("pignon.svg");
      background-repeat: no-repeat;
      background-size: 30px 30px;
      background-position: center;
      height: 30px;
  }  



/* encart */

section#encart {
  border: dashed #643a12 3px;
  background-color: #d3d3d3;
  border-radius: 3px;
  margin : 0 1em 3em;
  padding: 0 2em 1em;
}

section#encart h1 {
  text-align:center;
  color: #643a12;
  /*color: red;*/
  padding-top : 1em;
}

section#encart h2 {
  text-align:center;
  color: #643a12;
}

section#warning {
  text-align: center;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  gap: 1rem;
}
img.warning-img {
  height: 1.5rem;
}

/* carrousel */

  @keyframes glissement {    /* aller de 0% à (le nombre de photos -1) x 100% */
    0%, 13% { left: 0%; }
    /* 13-16% : transition */
    16%, 30%  { left: -100%; }
    /* 30-33% : transition */
    33%, 47%  { left: -200%; }
    /* 47-50% : transition */
    50%, 63% { left: -300%; }
    /* 63-66% : transition */
    66%, 80% { left: -400%; }
    /* 80-83% : transition */
    83%, 97% { left: -500%; }
    /* 97-100% : transition */
    100% { left: 0%; }
  } 
  

  div.carrousel { 
    width: 60%; 
    max-width: 500px; 
    overflow: hidden;	
    margin : 1em auto;
    border: 2px grey solid;
    border-radius: 3px;
  } 


  div.carrousel figure {
    position: relative; 
    width: 600%; /* 100% x le nombre de photos */
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation-duration: 40s;
    animation-name: glissement;
    animation-iteration-count: infinite;

  }

  div.carrousel figure img { 
    width: 16.6666666%; /* 100% / le nombre de photos */
    height: auto; 
    float: left; 
  }



/* liste des taches */

  div#taches_benevolat { 
    width: 60%; 
    margin : 1em auto;
  } 

  div#taches_benevolat div {
    margin: 1px auto;
  }

  div#taches_benevolat > div h3,
  div#taches_benevolat > div div {
    width: 90%;
    margin: 0 auto;
    padding:0 5%;
    border:solid black 1px;
    border-radius: 2px;
    background-color:white;
  }

  div#taches_benevolat > div label {
    display:block;
    text-align:center;
    font-size: 1.10em;
    line-height: 2em;
    font-weight: 600;
    cursor:pointer;
  }

  div#taches_benevolat > div div {
      border-top: 1px solid white;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
  }

  [id^="input_groupe_tache_"],                        
  [id^="input_groupe_tache_"] ~ div {
    display:none;
  }

  [id^="input_groupe_tache_"]:checked ~ div {
    display:block;                        
  }

  [id^="input_groupe_tache_"]:checked + h3 {
    cursor:default !important;
    border-bottom: 1px solid white !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

  }



/* horaires */

  div.horaires {
    width:100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: row wrap;
  }

  div.horaires img {
    flex-basis: 48%;
    flex-shrink: 1;
    flex-grow:3;
    min-width:350px;
    max-height:500px;
    margin: 1%; 
  }



/* carte osm/leaflet */

  .carte_conteneur{
    width:96%;
    margin:2%;
  }

  .carte_secours{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
    gap:2%;
    flex-basis: 45%;
  }



/* faq */
  /* catégorie de la faq */
    div.categorie_faq {
      border-radius: 5px;
      border-left : 2px solid grey;
      padding: 0 1em 1em;
      margin : 1em;
    }

    div.categorie_faq > h2 {
      padding: 0 1em;
      margin : 1em -0.9em;
      background-color:grey;  
      border-radius: 5px 5px 0 0 ;
      color:white;
    }
  
  /* question faq */
    div.categorie_faq input {
      display: none;
    }

    div.categorie_faq > div {
      margin-bottom: 0.2em;
    }

    div.categorie_faq div h3 {
      display: block;
      font-family:  "Alte Haas Grotesk";
      font-size: 1.2rem;
      font-weight:normal;
      text-align: left;
      padding: 0.5rem;
      margin:0; 
      color: #A54A03;
      background: #ffffff;
      cursor: pointer;
      border-radius: 5px;
      border : 1px solid grey;
      transition: all 0.25s ease-out; 
    }

    div.categorie_faq div h3:hover {
      color: #000000;
    }

    div.categorie_faq div h3::before {
      content: '';
      display: inline-block;
      
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid currentColor;
      
      vertical-align: middle;
      margin-right: 1rem;
      transform: translateY(-2px);
      transition: transform .2s ease-out; 
    }

  /* réponse faq */
    div.categorie_faq > div > div {
      display:none;
    }

    div.categorie_faq > div > div > div {
      background: #ffffff;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border : 1px solid grey;
      border-top : none;
      
      padding: 1rem;
      margin-bottom : 1em;
    }

    div.categorie_faq > div > div > div > img {
      float:right;
      margin: 1em;
      max-width:30%;
    }

  /* affichage de la réponse quand la question est cliquée */ 
    div.categorie_faq div input:checked + h3::before {
      transform: rotate(90deg) translateX(-3px);
    }

    div.categorie_faq div input:checked + h3 + div {
      display:block;
    }

    div.categorie_faq div input:checked + h3 {
      border-bottom: 1px dashed grey;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }


/* pied de page */

  footer {
    color: #777777;
    padding-top: 3%;
    text-align: center;
    font-size: 0.9em;
    padding-bottom: 3%;
    font-style: italic;
    width: 80%;
    margin: auto;
  }

/* mentions légales et à propos */

  .legal > label {
    cursor:pointer;
  }

  .legal > label > span {
    color:#870400;
  }

  .legal > input + label  img {
    margin:auto;
    display:block;
  }

  .legal > input,                        /* HIDE CHECKBOX */
  .legal > input ~ div,                /* HIDE LIST */
  .legal > input + label  img + img,     /* HIDE "Collapse" */
  .legal > input:checked + label img {    /* HIDE "Expand" (IF CHECKED) */
    display:none;
  }

  .legal > input:checked + label img + img {
    display:block;                 /* SHOW "Collapse" (IF CHECKED) */
  }

  .legal > input:checked ~ div {
    display:block;                        /* SHOW LIST (IF CHECKED) */
  }

  .legal > div {
    background-color: #f0f0f0;
    border-top: 2px solid #870400;
    border-bottom: 2px solid #870400;
    border-radius: 10px;
    padding: 0 0.5em;
    margin: 0 1em;
  }



/* page d'erreurs */

.error {
  padding : 5em;
}

.error .titre_erreur {
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    
    line-height: 20pt;

    font-family: "Alte Haas Grotesk";
    font-size: 3em;
    font-weight: 800;
    color: #A55A13;
}
.error .titre_erreur + p {
    font-size: 1.1em;
}

img#flyer-5-oct{
  width: 100%;
  padding:1rem;
}

